:host {
  display: block;
}

* {
  font-family: "DM Sans";
}

section {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 0.8fr 1fr;
  max-width: 60%;
}

.first-subcontainer {
  display: flex;
  gap: 1rem;
}

.first-subcontainer p {
  font-size: 1.8rem;
  height: 5rem;
}

.first-p {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.second-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  filter: invert(1);
  width: 20rem;
  height: 20rem;
}

div {
  display: flex;
  flex-direction: column;
}

div h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  line-height: normal;
  font-weight: 500;
}
div span {
  width: 3.5rem;
  height: 0.4rem;
  background-color: white;
}

@media screen and (max-width: 800px) {
  section {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 80%;
  }

  .first-subcontainer {
    justify-content: center;
    order: 2;
  }

  div h1 {
    font-size: 2rem;
  }

  .first-subcontainer p {
    font-size: 1.3rem;
  }

  svg {
    width: 15rem;
  }
}

@media screen and (800px <= width <= 1150px) {
  section {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 80%;
  }

  .first-subcontainer {
    justify-content: center;
    order: 2;
  }

  div h1 {
    font-size: 2rem;
  }

  .first-subcontainer p {
    font-size: 1.3rem;
  }

  svg {
    width: 15rem;
  }
}

/* Styles specific to screen sizes between 800px and 1510px */
@media screen and (1150px <= width <= 1800px) {
  div h1 {
    font-size: 2.8rem;
  }

  .first-subcontainer {
    justify-content: center;
  }

  .first-subcontainer p {
    font-size: 1.6rem;
  }
}
