:host {
  display: block;
}

section {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  /* border: 1px solid purple; */
}

.first-subcontainer {
  display: flex;
  gap: 1rem;
  /* border: 1px solid blue; */
}

.first-subcontainer p {
  font-size: 2.125rem;
  height: 5rem;
}

.first-p {
  margin-bottom: 5rem;
}

.second-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

svg {
  filter: invert(1);
  width: 25rem;
  height: 25rem;
}

div {
  display: flex;
  flex-direction: column;
}

div h1 {
  font-size: 3rem;
  font-weight: 500;
}
div span {
  width: 3rem;
  height: 0.4rem;
  background-color: white;
}

@media screen and (max-width: 510px) {
  section {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.8fr);

    gap: 0rem;
  }

  div h1 {
    font-size: 2.2rem;
    padding-left: 3rem;
  }

  div span {
    margin-left: 3rem;
  }

  .first-subcontainer {
    justify-content: center;
    order: 2;
  }

  .first-subcontainer p {
    font-size: 1.5rem;
    padding: 0 3rem;
  }

  .first-p {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .second-subcontainer {
    max-height: fit-content;
    max-width: fit-content;
    place-self: center;
  }
  svg {
    width: 15rem;
    height: 10rem;
    margin-bottom: 4rem;
  }
}
