<div id="crypto_info_container">

  <div id="crypto_info_top">
    <div id="crypto_info_top_image"></div>
    <div id="crypto_info_top_text">
      <div id="crypto_info_top_text_title">
        <h1>Name.</h1>
      </div>
      <div id="crypto_info_top_text_id">
        <h3>ID</h3>
      </div>
      <div id="crypto_info_top_text_position">
        <p>#Position</p>
      </div>
    </div>
  </div>

  <div id="crypto_info_bottom">
    <div id="crypto_info_bottom_description">
      <p>Description</p>
    </div>
  </div>
</div>
