<header>
  <a id="logo" routerLink="/main" routerLinkActive="active-link">
    &#64;Crypto
  </a>
  <div id="links_header">
    <div class="columna_vinculos_header">
      <a routerLink="/cryptos" routerLinkActive="active-link">Cryptos</a>
    </div>
    <div class="columna_vinculos_header">
      <a routerLink="/nfts" routerLinkActive="active-link">NTF'S</a>
    </div>
    <div class="columna_vinculos_header">
      <a routerLink="/prices" routerLinkActive="active-link">Prices</a>
    </div>
  </div>
</header>
