:host {
  display: block;
}

.arrow-container {
  display: flex;
  position: relative;
  top: 6rem;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* border: 1px solid red; */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  width: 5rem;
  height: 5rem;
  border: 2px solid white;
  border-radius: 50%;
  animation: infinite 3s move;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.circle:hover {
  background-color: white;
  transition: 0.3s ease-in;
}

.circle:hover svg {
  filter: invert(100%);
}

.circle svg {
  width: 4rem;
  height: 4rem;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
}

@media screen and (max-width: 768px) {
  .arrow-container {
    top: 5rem;
  }
}
