:host {
  display: block;
}

* {
  font-family: "DM Sans";
}

.container {
  /* border: 1px solid green; */
  width: fit-content;
  padding-left: 10rem;
}

.space-background-container {
  position: absolute;
  top: 4.375rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  /* border: 2px solid red; */
}

.space-background-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h1-container {
  display: flex;
  align-items: end;
  width: fit-content;
  height: fit-content;
  /* border: 1px solid red; */
}

h1 {
  font-size: 5rem;
  line-height: 0.8;
  /* border: 1px solid yellow; */
}

h2 {
  margin-top: 1rem;
  font-size: 4.5rem;
  line-height: 6rem;
  width: 500px;
}

div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
div span {
  width: 5rem;
  height: 0.4rem;
  background-color: white;
}

p {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
    width: 300px;
  }

  p {
    font-size: 2rem;
  }
  .container {
    display: grid;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 510px) {
  .container {
    padding-right: 0rem;
  }
}
