<app-dashboard></app-dashboard>
<div id="cryptos_container">
  <div id="cryptos_front_background">
    <div id="cryptos_front_container">
      <div id="cryptos_front_container_left">
        <div id="cryptos_front_title">
          <h1>Cryptos.</h1>
        </div>
        <div id="cryptos_front_white_rect"></div>
        <div id="cryptos_front_subtitle">
          <h3>Find any crypto available<br />on the market.</h3>
        </div>
      </div>
    </div>
  </div>

  <div id="cryptos_search_container">
    <div id="cryptos_search_title">
      <h3>You can search by currency name.</h3>
    </div>
    <div id="cryptos_search_bar">
      <input
        type="text"
        id="cryptos_search_input"
        name="input_search_crypto"
        placeholder="Name"
      />
    </div>
    <div id="cryptos_search_button_container">
      <input
        type="button"
        id="cryptos_search_button"
        name="cryptos_search_button"
        value="Search"
      />
    </div>
  </div>

  <div id="cryptos_list_container">
    <div id="cryptos_list_title">
      <h3>Or browse the list.</h3>
    </div>
    <div id="cryptos_list_browselist">
      @for (elemento of diccionario; track $index) {
      <div class="cryptos_list_browselist_element">
        <img
          [src]="elemento.img"
          [alt]="elemento.name"
          id="img-{{ $index }}"
          class="cryptos_list_browselist_element_img"
        />

        <div class="cryptos_list_browselist_element_name">
          <p id="p-{{ $index }}">{{ elemento.name }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<app-footer></app-footer>
