<app-dashboard></app-dashboard>
<div id="cryptos_container">
  <div id="cryptos_front_background">
    <div id="cryptos_front_container">
      <div id="cryptos_front_container_left">
        <div id="cryptos_front_title">
          <h1>Cryptos.</h1>
        </div>
        <div id="cryptos_front_white_rect"></div>
        <div id="cryptos_front_subtitle">
          <h3>Find any crypto available<br />on the market.</h3>
        </div>
      </div>
    </div>
  </div>

  <div id="cryptos_search_container">
    <div id="cryptos_search_title">
      <h3>You can search by currency name.</h3>
    </div>
    <div id="cryptos_search_bar">
      <input
        type="text"
        id="cryptos_search_input"
        name="input_search_crypto"
        placeholder="Name"
      />
    </div>
    <div id="cryptos_search_button_container">
      <input
        type="button"
        id="cryptos_search_button"
        name="cryptos_search_button"
        value="Search"
      />
    </div>
  </div>

  <div id="crypto_info_container">
    <div id="crypto_info_top">
      <div id="crypto_info_top_image"></div>
      <div id="crypto_info_top_text">
        <div id="crypto_info_top_text_title">
          <h1>Name.</h1>
        </div>
        <div id="crypto_info_top_text_id">
          <h3>ID</h3>
        </div>
        <div id="crypto_info_top_text_position">
          <p>#Position</p>
        </div>
      </div>
    </div>
    <div id="crypto_info_bottom">
      <div id="crypto_info_bottom_description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem incidunt nulla ullam vero ex officiis quaerat eligendi est. Ullam veniam quod eaque laudantium repellendus fugit ut commodi doloremque itaque.
        Optio aut ad libero odio ipsam delectus! Quidem velit saepe vitae ea et necessitatibus ex aliquid perferendis beatae. Porro fugit cum iste odit nulla odio laboriosam neque labore tempore fuga!
        Dicta, eos quam dignissimos veniam impedit tempore omnis delectus exercitationem dolores, qui id enim quos quo culpa dolorum repellendus maiores harum. Et laborum reprehenderit nisi rerum repudiandae est temporibus suscipit?
        Laboriosam dignissimos maxime incidunt amet hic? Saepe nemo dolore esse. Quisquam quia ut illum corrupti, recusandae doloremque repudiandae error sit autem molestiae, aut ea reiciendis distinctio. Quibusdam repellat sapiente sit?</p>
      </div>
    </div>
  </div>

  <div id="cryptos_list_container">
    <div id="cryptos_list_title">
      <h3>Or browse the list.</h3>
    </div>
    <div id="cryptos_list_browselist">
      @for (elemento of diccionario; track $index) {
      <div class="cryptos_list_browselist_element">
        <img
          [src]="elemento.img"
          [alt]="elemento.name"
          id="img-{{ $index }}"
          class="cryptos_list_browselist_element_box"
        />

        <div class="cryptos_list_browselist_element_name">
          <p id="p-{{ $index }}">{{ elemento.name }}</p>
        </div>
      </div>
      }
    </div>
  </div>

  <div id="cryptos_footer">
    <app-footer></app-footer>
  </div>
</div>
