<section class="container">
  <div class="coin-container">
    <div class="yellow-coin-container">
      <img src="../../../../../../assets/img/moneda_amarilla.png" alt="" />
    </div>
    <div class="silver-laser-coin-container">
      <img src="../../../../../../assets/img/moneda_plata.png" alt="" />
      <img src="../../../../../../assets/img/moneda_laser.png" alt="" />
    </div>
  </div>

  <div class="text-container">
    <div class="first-subcontainer">
      <h1>Discover.</h1>
      <span></span>
    </div>
    <div class="second-subcontainer">
      <p>
        Learn about all the cryptos available on the market, including even the
        most unknown ones.
      </p>
      <br />
      <br />
      <p>Discover a complex world, waiting to be explored.</p>
    </div>
  </div>
</section>
