<app-dashboard></app-dashboard>
<div id="prices-container">
  <!--Primera Página-->
  <div id="prices-front-background">
    <div id="prices-front-container">
      <div id="prices-front-container-left">
        <div id="prices-front-title">
          <h1>Prices.</h1>
        </div>
        <div id="prices-front-white-linea"></div>
        <div id="prices-front-subtitulo">
          <h3>
            Know the changes in<br />currency prices.<br /><br />Always upload,
            always<br />up to date
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!--Segunda Página-->
  <div id="prices-search-container">
    <div id="prices-search-title">
      <h3>Search by the name of the crypto.</h3>
    </div>
    <div id="prices-search-bar">
      <input
        type="text"
        id="prices-search-input"
        name="input-search-prices"
        placeholder="Name"
        [(ngModel)]="cryptoName"
      />
    </div>
    <div id="prices-search-button-container">
      <input
        type="button"
        id="prices-search-button"
        name="prices-search-button"
        value="Search"
        (click)="searchCrypto()"
      />
    </div>
  </div>

  <!-- Muestra de informacion -->

  <div id="prices-info-container">
    <div id="prices-info-top">
      <div id="prices-info-top-image"></div>
      <div id="prices-info-top-text">
        <div id="prices-info-top-text-title">
          <h1 id="cryptoName">Name.{{ cryptoName }}</h1>
        </div>
        <div id="prices-info-top-text-id">
          <h3 id="cryptoId">ID: {{ cryptoId }} </h3>
        </div>
        <div id="prices-info-top-text-position">
          <p id="cryptoPosition">#{{ cryptoMarketPosition }}</p>
        </div>
      </div>
    </div>

    <!--Parte de abajo-->
    <!--Parte inferior izquierda-->
    <div id="prices-info-bottom">
      <div id="prices-info-bottom-current">
        <div class="titulo-nombre1">
          <h2>Current price.</h2>
          <div class="current-fila1">
            <p id="currentPriceValue">{{cryptoPrice}}€</p>
          </div>
        </div>
        <div class="titulo-nombre2">
          <h2 id="priceChangeName">Price change 24h.</h2>
          <div class="current-fila2">
            <p id="priceChangeValue">Cifra</p>
          </div>
        </div>
      </div>

      <div id="prices-info-bottom-percentage">
        <h2>Price change percentage.</h2>
        <div class="percentage">
          <div class="fila1">
            <p id="fila_col_1" class="col"><label><input type="checkbox" class="radio" [(ngModel)]="checkboxValues[0]" (click)="onCheckboxClick($event, 0)"/> % 24h</label></p>
            <p id="fila_col_2" class="col"><label><input type="checkbox" class="radio" [(ngModel)]="checkboxValues[1]" (click)="onCheckboxClick($event, 1)" /> % 7d</label></p>
            <p id="fila_col_3" class="col"><label><input type="checkbox" class="radio" [(ngModel)]="checkboxValues[2]" (click)="onCheckboxClick($event, 2)" /> % 60d</label></p>
          </div>
          <div class="fila2">
            <p id="fila_col_4" class="col"><label><input type="checkbox" class="radio" [(ngModel)]="checkboxValues[3]" (click)="onCheckboxClick($event, 3)" /> % 14d</label></p>
            <p id="fila_col_5" class="col"><label><input type="checkbox" class="radio" [(ngModel)]="checkboxValues[4]" (click)="onCheckboxClick($event, 4)" /> % 30d</label></p>
            <p id="fila_col_6" class="col"><label><input type="checkbox" class="radio" [(ngModel)]="checkboxValues[5]" (click)="onCheckboxClick($event, 5)" /> % 1y</label></p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--Pie de página-->
  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
