<app-dashboard></app-dashboard>
<div id="prices-container">
  <!--Primera Página-->
  <div id="prices-front-background">
    <div id="prices-front-container">
      <div id="prices-front-container-left">
        <div id="prices-front-title">
          <h1>Prices.</h1>
        </div>
        <div id="prices-front-white-linea"></div>
        <div id="prices-front-subtitulo">
          <h3>
            Know the changes in<br />currency prices.<br /><br />Always upload,
            always<br />up to date
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!--Segunda Página-->
  <div id="prices-search-container">
    <div id="prices-search-title">
      <h3>Search by the name of the crypto.</h3>
    </div>
    <div id="prices-search-bar">
      <input
        type="text"
        id="prices-search-input"
        name="input-search-prices"
        placeholder="Name"
      />
    </div>
    <div id="prices-search-button-container">
      <input
        type="button"
        id="prices-search-button"
        name="prices-search-button"
        value="Search"
      />
    </div>
  </div>
  
  <!--Pie de página-->
  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
