* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "DM Sans";
}

#prices-container {
  min-width: 100%;
  max-width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 4.375rem);
}

#prices-front-background,
#prices-search-container,
#prices-info-container,
#footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: calc(100vh - 4.375rem);
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-color: #313335;
}

#prices-front-background {
  flex-direction: column;
  height: 100vh;
  grid-column: 1 / 13;
  height: calc(100vh - 4.375rem);
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

/* Estilo frontal */
#prices-front-background,
#prices-front-container,
#footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#prices-front-background {
  height: 100vh;
  grid-column: 1 / 13;
  height: calc(100vh - 4.375rem);
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-image: url(prices_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

#prices-front-container {
  grid-column: 2 / 12;
  margin-top: 175px;
}

#prices-front-container-left {
  grid-column: 1 / 6;
}

#prices-front-container-left #prices-front-title h1 {
  font-size: 5em;
}

#prices-front-white-linea {
  height: 0.5rem;
  width: 4.688rem;
  background-color: #fff;
}

#prices-front-subtitulo {
  margin-top: 40px;
  font-size: 1.8em;
}

/* Estilo de búsqueda */
#prices-search-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 100px);
  grid-column: 2 / 12;
  grid-row: 2 / 3;
  align-items: center;
  justify-content: center;
  padding-top: 9.375rem;
}

#prices-search-container #prices-search-title {
  grid-row: 1 / 2;
  text-align: center;
  margin-bottom: 20px;
}

#prices-search-container #prices-search-title h3 {
  font-size: 1.3em;
}

#prices-search-container #prices-search-bar {
  display: flex;
  justify-content: center;
  grid-row: 2 / 3;
}

#prices-search-container #prices-search-bar input {
  display: block;
  width: 50%;
  background-color: #fff;
  color: #202123;
  padding: 15px;
  border-radius: 10px;
}

#prices-search-container #prices-search-button-container {
  display: flex;
  justify-content: center;
  grid-row: 3 / 4;
}

#prices-search-container #prices-search-button-container input {
  display: block;
  cursor: pointer;
  padding: 15px 50px;
  border-radius: 10px;
  background-color: #fff;
  color: #202123;
}

/*Estilo de Info*/
/*Parte de arriba*/
#prices-info-container {
  display: hidden;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px auto;
  color: #fff;
  padding-top: 175px;
}

#prices-info-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 50vh);
  align-items: baseline;
}

#prices-info-top {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  grid-row: 1 / 3;
}

#prices-info-top-image {
  height: 9.375rem;
  width: 9.375rem;
  background-color: #fff;
}

#prices-info-top-text {
  height: 9.375rem;
  margin-left: 20px;
}

#prices-info-top-text-title {
  display: flex;
  margin-top: 40px;
  font-size: 3.8em;
}

#prices-info-top-text-id,
#prices-info-top-text-position {
  display: inline-block;
}

#prices-info-top-text-position {
  margin-left: 50px;
}

#prices-info-bottom {
  display: grid;
  grid-template-columns: 9.375rem repeat(11, 1fr);
  grid-template-rows: 1fr;
  grid-column: 2 / 12;
  grid-row: 2 / 3;
}

#prices-info-bottom-current {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#prices-info-bottom-percentage {
  grid-column: 3 / 13;
  grid-row: 1 / 2;
  margin-left: 30px;
}

.titulo-nombre1,
.titulo-nombre2,
#prices-info-bottom-percentage {
  font-size: 1.2em;
}

.titulo-nombre1 h2,
.titulo-nombre2 h2 {
  margin-bottom: 10px;
}

.titulo-nombre2 h2 {
  margin-top: 20px;
}

.current-fila1 p,
.current-fila2 p {
  text-align: center;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.percentage {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid #fff;
  border-radius: 10px;
  height: 161.2px;
}

.fila1,
.fila2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.fila1 {
  grid-row: 1 / 2;
}

.fila2 {
  grid-row: 2 / 3;
}

#prices-info-bottom-percentage h2 {
  margin-bottom: 10px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.col input {
  height: 20px;
  width: 20px;
}

#fila_col_1,
#fila_col_4 {
  grid-column: 1 / 5;
}

#fila_col_2,
#fila_col_5 {
  grid-column: 5 / 9;
}

#fila_col_3,
#fila_col_6 {
  grid-column: 9 / 13;
}

/* .col{
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  margin: 10px;
} */

.positive {
  color: green;
}
.negative {
  color: red;
}

/* Estilo del pie de página */
#footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 2 / 12;
}

/*responsive*/
@media (max-width: 768px) {
  #prices-front-container {
    margin-top: 100px;
  }

  #prices-front-background {
    background-image: none;
    background-color: #004f51;
  }

  #prices-front-container-left #prices-front-title h1 {
    font-size: 5em;
  }

  #prices-front-subtitulo {
    margin-top: 20px;
    font-size: 2em;
  }

  #prices-search-container {
    align-items: center;
    height: calc(100vh - 4.375rem);
  }

  #prices-search-container #prices-search-title {
    margin-bottom: 0px;
  }

  #prices-search-container #prices-search-title h3 {
    font-size: 1.2em;
  }

  #prices-search-container #prices-search-bar input {
    width: 70%;
    padding: 12px;
  }

  #prices-search-container #prices-search-button-container input {
    padding: 12px 50px;
  }
}
