* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

div {
  min-width: 100%;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: calc(100vh - 4.375rem);
}

.one,
.second,
.third,
.fourth,
.footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: calc(100vh - 4.375rem);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-color: #313335;
  /* border: 1px solid red; */
}

.one {
  flex-direction: column;
  background-color: transparent;
  justify-content: baseline;
  align-items: baseline;
}
