<app-dashboard></app-dashboard>

<!-- <div id="container">
  <section id="section-one">
    <div id="nftsMainDiv">
      <div id="mainSearch">
        Div para la página de busqueda
        <h1 id="nftsTitle">NFT's.</h1>
        <h1 id="nftsLine">_</h1>
        <p id="nftsDescription">
          Explore different NFT's and the<br />crypto on which they are based.
        </p>

        <form (ngSubmit)="onSubmit()">
          <input
            id="searchText"
            type="text"
            placeholder="Name"
            name="search"
            [(ngModel)]="searchTerm"
          />
          <button id="searchButton" type="submit">Search</button>
        </form>
      </div>

      <div id="dataShow" *ngIf="nftImageUrl && nftName">
        Div para la informacion de el NFT que solo se puede mostrar si hay datos
        <img [src]="nftImageUrl" alt="NFT Image" id="nftImage" />
        <p id="nftName">{{ nftName }}</p>
        <p id="nftAsset">{{ assetPlatformId }}</p>
        <p id="nftDescription">{{ nftDescription }}</p>
        <p id="nftContract">{{ nftContractAddress }}</p>
        Botton para volver a la pagina de inicio
        <button id="goBackButton" (click)="goBack()">Go Back</button>
      </div>

      <div id="crypto_info_container"class="visible">
        <div id="crypto_info_top">
          <div id="crypto_info_top_image"></div>
          <div id="crypto_info_top_text">
            <div id="crypto_info_top_text_title">
              <h1 id="cryptoNameContainer">{{ nftName }}</h1>
            </div>
            <div id="crypto_info_top_text_id">
              <h3 id="cryptoIdContainer">ID Moneda: {{ assetPlatformId }}</h3>
            </div>
            <div id="crypto_info_top_text_position">
              <p id="cryptoPositionContainer">Id: {{ nftId }}</p>
              <p id="cryptoPositionContainer">Dirección: {{ nftContractAddress }}</p>
            </div>
          </div>
          <div id="crypto_info_top_button">
            <button id="crypto_info_back" (click)="goBack()">Go Back</button>
          </div>
        </div>
        <div id="crypto_info_bottom">
          <div id="crypto_info_bottom_description">
            <p id="cryptoDescriptionContainer">{{ nftDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->


<div id="nfts_container" class="mainSearch">
  <div id="nfts_front">
    <div id="nfts_front_left">
      <div id="nfts_front_left_text">
        <div id="nfts_front_left_title">
          <h1>NFT's.</h1>
        </div>
        <div id="nfts_front_left_white_rect"></div>
        <div id="nfts_front_left_subtitle">
          <h3>Explore different NFT’s and the crypto on which they are based.</h3>
        </div>
      </div>
    </div>
    <div id="nfts_front_right">
      <div id="nfts_front_right_elements">
        <input type="text" id="nfts_front_right_input" name="nfts_front_right_input" placeholder="Name" [(ngModel)]="searchTerm">
        <input type="button" id="nfts_front_right_button" name="nfts_front_right_button" value="Search" (click)="onSubmit()"/>
      </div>
    </div>
  </div>
</div>

<div id="crypto_info_container" class="hidden">
  <div id="crypto_info_top">
    <div id="crypto_info_top_image"></div>
    <div id="crypto_info_top_text">
      <div id="crypto_info_top_text_title">
        <h1 id="cryptoNameContainer">{{ nftName }}</h1>
      </div>
      <div id="crypto_info_top_text_id">
        <h3 id="cryptoIdContainer">{{ nftId }}</h3>
      </div>
      <div id="crypto_info_top_text_position">
        <p id="cryptoPositionContainer">{{ assetPlatformId }}</p>
        <p id="cryptoPositionContainer"></p>
      </div>
    </div>
    <div id="crypto_info_top_button">
      <button id="crypto_info_back" (click)="goBack()">Go Back</button>
    </div>
  </div>
  <div id="crypto_info_bottom">
    <div id="crypto_info_bottom_description">
      <p id="cryptoDescriptionContainer">{{ nftDescription }}<!--Dirección: {{ nftContractAddress }}--></p>
    </div>
  </div>
</div>

