* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-self: center;
  /* border: 0.125rem solid red; */
  width: 50rem;
}

span {
  display: flex;
  align-items: center;
  width: 38rem;
  /* border: 1px solid green; */
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

.tri-a-container {
  display: flex;
  /* border: 0.125rem solid white; */
  justify-content: space-between;
  padding: 5rem 0rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.25rem;
  height: 5.3rem;
  border: 0.125rem solid white;
  border-radius: 0.3rem;
}

a p {
  font-size: 1.5rem;
}
