<!-- Página de información-->
<!--Parte de arriba-->
<div id="prices-info-container">
  <div id="prices-info-top">
    <div id="prices-info-top-image">Imagen Crypto</div>
    <div id="prices-info-top-text">
      <div id="prices-info-top-text-title">
        <h1>Name</h1>
      </div>
      <div id="prices-info-top-text-id">
        <h3>ID</h3>
      </div>
      <div id="prices-info-top-text-position">
        <p>#Position</p>
      </div>
    </div>
  </div>
  <!--Parte de abajo-->
  <!--Parte inferior izquierda-->
  <div id="prices-info-bottom">
    <div id="prices-info-bottom-current">
      <div class="titulo-nombre1">
        <h2>Current price.</h2>
        <div class="current-fila1">
          <p>Cifra €</p>
        </div>
      </div>
      <div class="titulo-nombre2">
        <h2>Price change 24h.</h2>
        <div class="current-fila2">
          <p>Cifra</p>
        </div>
      </div>
    </div>
    <!--Parte inferior derecha-->
    <div id="prices-info-bottom-percentage">
      <h2>Price change percentage.</h2>
      <div class="percentage">
        <div class="fila1">
          <p class="col">% 24h</p>
          <p class="col">% 7d</p>
          <p class="col">% 60d</p>
        </div>
        <div class="fila2">
          <p class="col">% 14d</p>
          <p class="col">% 30d</p>
          <p class="col">% 1y</p>
        </div>
      </div>
    </div>
  </div>
</div>
